
<%- partial('_partial/head') %>


<body class="b-page">
  <div id="container" <% if (page.layout==='links')  {%>class="container-link"<% } %>>

<% if (page.layout!=='links')  {%> 
<%- partial('_partial/header', null, {cache: !config.relative_link}) %> 

 <% } %>

  
    
    <section id="main" class="outer"><%- body %></section>
    
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>

