<% if (post.prev || post.next){ %>
<nav id="article-nav" class="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" class="article-nav-link-wrap article-nav-link--newer">
      <% if (post.prev.thumbnail){ %>
        <img src="<%- post.prev.thumbnail %>" alt="" class="article-thumbnail article-nav-thumbnail article-nav-thumbnail--newer">
      <% } %>
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (Без названия)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" class="article-nav-link-wrap article-nav-link--older">
      <% if (post.next.thumbnail){ %>
        <img src="<%- post.next.thumbnail %>" alt="" class="article-thumbnail article-nav-thumbnail article-nav-thumbnail--older">
      <% } %>
      <div class="article-nav-title"><%= post.next.title %></div>
    </a>
  <% } %>
</nav>
<% } %>