<header class="header">

  <div class="header__wrapper">
    
    <div class="logo-image-container"><img src="/images/20170607gleb_kalinin_photo.jpg" class="logo-image"></div>

    <form class="search-form" action="http://yandex.ru/sitesearch" method="get">
      <input type="hidden" name="searchid" value="<%= config.searchid %>">
      <input type="hidden" name="web" value="0">
      <input type="hidden" name="l10n" value="<%= config.l10n %>">
      <input type="search" class="field search-form__field" name="text" placeholder="<%= config.search %>" value="">
    </form>

    
      <% if (is_home()){ %>
      <h1 class="logo">
        <span class="logo__text">
          <%= config.title %>
        </span>
      </h1>
      
      <% } 
      else { %>
      <h2 class="logo"><a href="/" class="logo__text"><%= config.title %></a></h2>
      <% } %>
      <p class="logo__tagline">Картография целой жизни</p>
    

    <ul class="categories">
      <% for (var i in theme.menu){ %>
          <li class="categories__item"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
    </ul>
<!--    <ul class="tags-list"><li class="tags-list__tag_title">Темы:</li><li class="tags-list__tag"><a href="/tags/business" class="link">бизнес</a></li><li class="tags-list__tag"><a href="/tags/education" class="link">образование</a></li><li class="tags-list__tag"><a href="/tags/content" class="link">контент</a></li><li class="tags-list__tag"><a href="/tags/web" class="link">веб</a></li><li class="tags-list__tag"><a href="/tags/media" class="link">медиа</a></li></ul>
    <p class="popular-link"><a href="/popular">Популярные посты</a></p> -->
    

  </div>


</header>