<header class="header">

  <div class="header__wrapper">
    
    <div class="logo-image-container">
      <% if (!is_home()){ %><a href="/"><% } %>
      <img src="/images/20170607gleb_kalinin_photo.jpg" class="logo-image">
      <% if (!is_home()){ %></a><% } %>
    </div>


    <form class="search-form" action="http://yandex.ru/sitesearch" method="get">
      <input type="hidden" name="searchid" value="<%= config.searchid %>">
      <input type="hidden" name="web" value="0">
      <input type="hidden" name="l10n" value="<%= config.l10n %>">
      <input type="search" class="field search-form__field" name="text" placeholder="<%= config.search %>" value="">
    </form>

    
      <% if (is_home()){ %>
      <h1 class="logo"><span class="logo__text"><%= config.title %></span></h1>
      
      <% } 
      else { %>
      <h2 class="logo"><a href="/" class="logo__text"><%= config.title %></a></h2>
      <% } %>
      <p class="logo__tagline"><%= config.subtitle %></p>
    

    <ul class="categories">
      <% for (var i in theme.menu){ %>
          <li class="categories__item"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
    </ul>    

  </div>

</header>